body {
	margin-left: 8%;
	margin-right: 8%;
}

p {
	font-size:x-large;
}

#benIMG {
	width:192px;
	height:192px;
}

#divIMG {
	display: flex; 
	align-items: center; 
	justify-content: center;
}
