* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
	margin-left: 8%;
	margin-right: 8%;
}

p {
  font-size: x-large;
}

main {
  text-align: center;
  margin-top: 2%;
}

article {
  text-align: left;
}

#sliderContainer {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  max-height: 50%;
  max-width: 80%;
  position: relative;
  background-color: rgb(29, 29, 36);
  border-radius: 10px;
}

.slide {
  display: none;
  text-align: center;
}

.slideIMG {
  vertical-align: middle;
  max-height: 50%;
  max-width: 75%;
}

#arrowPrev, #arrowNext {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;  
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#arrowPrev {
  left: 0;
}

#arrowNext {
  right: 0;
}

#sliderCaption {
  text-align: center;
  font-size: xx-large;
}
